body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header h1 {
  margin: 0;
  padding-bottom: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  padding: 1rem;
  text-align: left;
  margin-top: 80px; /* Adjust based on header height */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px; /* Fixed height for footer */
}

.content {
  padding-bottom: 80px; /* Ensure content is not hidden behind footer */
}

.hra-result {
  margin-top: 20px;
}

.hra-result h3 {
  color: #333; /* Change this to the desired color */
}

.hra-result h1 {
  font-size: 36px;
  color: #333; /* Change this to the desired color */
}

.hra-result table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.hra-result table, .hra-result th, .hra-result td {
  border: 1px solid #ddd;
}

.hra-result th, .hra-result td {
  padding: 8px;
  text-align: left;
}

.hra-result th {
  background-color: #f2f2f2;
}

.hra-result td i {
  color: #007bff;
}

/* Form styles */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="number"],
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="radio"] {
  margin-right: 5px;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group label {
  margin-right: 15px;
}

button[type="button"] {
  background-color: #333; /* Change this to match the header color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #555; /* Slightly darker shade for hover effect */
}

.hra-result a {
  color: #333; /* Change this to match the header color */
  text-decoration: none;
}

.hra-result a:hover {
  text-decoration: underline;
}

.highlight-red-text {
  color: red;
  font-weight: bold;
}

.highlight-green-text {
  color: green;
  font-weight: bold;
}
